---
layout: default
---
<header class="masthead">
  <h1 class="masthead-title--small">
    <a href="{{ site.baseurl }}/">{{ site.name }}</a>
  </h1>
</header>
<div class="content post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-date">
    <time>{{ page.date | date_to_string }}</time>
  </div>
  {% if page.encrypted %}
  <span class="encryptedNotice">Hmm… It looks like this post is encrypted 🔒, do you know the key?</span>
  <form id="decryptForm" name="decryptForm">
  	<input type="text" name="key" placeholder="paste the key here">
  	<input type="submit" name="decrypt" value="Decrypt">
  </form>
  {% endif %}
  <div class="inner">
    {{ content }}
  </div>
</div>
